.venv
server/__pycache__/*
server/*.pyc
server/*.pyo
server/db.sqlite3
server/media/*
server/apps/chat/__pycache__/*
server/apps/user/__pycache__/*
server/apps/chat/__pycache__/
server/apps/user/__pycache__/
server/apps/chat/__pycache__/*.pyc
server/apps/user/__pycache__/*.pyc
server/apps/chat/__pycache__/*.pyo
server/apps/user/__pycache__/*.pyo
*.pyc
__pycache__/
server/apps/chat/migrations/*
docs/*
docs
server/media/chat_files
server/media/chat_images
server/media/chat_files/*
server/media/chat_images/*