.venv
server/__pycache__/*
server/*.pyc
server/*.pyo
server/db.sqlite3
server/media/*
server/apps/chat/__pycache__/*
server/apps/user/__pycache__/*
server/apps/chat/__pycache__/
server/apps/user/__pycache__/